header {
  padding: 1.5em 0;
  border-bottom: 1px solid #ccc;
  .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    #logo {
      text-decoration: none;
      color: #333;
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    nav {
      ul {
        margin: 0;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $color-1;
          }
        }
      }
    }
  }
}