.btn {
  display: inline-block;
}

.button-1 {
  background: $color-2;
  padding: 15px 20px;
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  &:link {
    color: #fff;
    text-decoration: none;
    span {
      padding: 0;
    }
  }
  &:hover {
    background: #3caeff;
    color: #fff;
  }
  @at-root button#{&} {
    padding: 15px 20px;
  }
}

.btn.disabled {
  background: #a9a9a9;
}